.font-time {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.font-hotel {
  font-family: "Grand Hotel", cursive;
  color: black;
  font-size: 40px !important;
}

.font-nav {
  font-family: "Staatliches", cursive;
}

nav a {
  text-decoration: none !important;
  font-size: 22px;
}
