.font-time {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.font-hotel {
  font-family: "Grand Hotel", cursive;
  color: black;
  font-size: 40px !important;
}
